<div class="header_parent">
  <div class="header">
			<section class="content">
				<ul class="list">
					<li class="list__item list__item--burst color-12">
						<h3 class="list__text">SPLISH</h3>
						<button class="control__button control__button--play">
							<svg class="control__vector" aria-hidden="true" role="img" viewBox="0 0 24 24">
								<use xlink:href="#icon-play"></use>
							</svg>
						</button>
					</li>
				</ul>
			</section>
        <% if signed_in? %>


        <% else %>
          <md-button ng-show="{{user_id}}" class="md-trigger md-primary md-raised" data-modal="modal-1">Sign In</md-button>
        <% end %>
    </div>
    <div class="align">
      
    </div>
      <md-button ng-show="{{user_id}}" class="md-trigger md-primary md-raised event-button" data-modal="modal-9">Create New Event</md-button><br>
  </div>

  <div class="md-modal md-effect-1" id="modal-1">
    <div class="md-content">
      <h3 class='modal-header'>Sign In</h3>
      <div>
        <div class="auth">
          <span class="guest-info">
          guest e-mail: johnsmith@example.com<br>
          guest password: testtest</span>
          <br>
          <form class='auth_form' action="<%= session_url %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <span class="input input--styled">
            <input type="text" class="input__field input__field--styled md-input" placeholder="E-Mail Address" name="guest[email]" value="">
            <label class="input__label input__label--styled">
              <span class="input__label-content input__label-content--styled">E-mail:</span>
            </label>
          </span>
          <span class="input input--styled">
            <input id="password" type="password" class="input__field input__field--styled md-input" placeholder="Password" name="guest[password]" value="">
            <label class="input__label input__label--styled">
              <span class="input__label-content input__label-content--styled">
                Password:
              </span>
            </label>
          </span>

            <md-button type="submit" class="md-close md-primary md-raised" name="Sign In">Sign In</md-button>
          </form>
          <br>
          <section class='sign_in'>
            <span class="guest-info">Don't have an account yet?</span><br> <md-button class="md-close md-primary md-raised" onclick="window.open('./guests/new')" >Sign Up!</md-button>
          </section>
        </div>
      </div>
    </div>
  </div>
