.scene {
	width: 261px;
	height: 400px;
	margin: 30px;
	float: left;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
  margin: 20px 80px;
  margin-bottom: 90px;

	// This smooths out the edges of the transforming elements
	outline: 1px solid transparent !important;
	-webkit-backface-visibility: hidden !important;
}

.box {
	width: 460px;
	height: 300px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(-130px);
	-moz-transform: translateZ(-130px);
	transform: translateZ(-130px);
	-webkit-transition: -webkit-transform 350ms;
	-moz-transition: -moz-transform 350ms;
	transition: transform 350ms;
	-webkit-transform: rotateY(-12deg);
	-moz-transform: rotateY(-12deg);
	transform: rotateY(-12deg);
}

.box:hover, .box:active, .box:focus, div.is-active {
	-webkit-transform: rotateY(-78deg) translateX(90px) translateX(140px);
	-moz-transform: rotateY(-78deg) translateX(90px) translateX(140px);
	transform: rotateY(-78deg) translateX(90px) translateZ(140px);

	&::after {
		content: '';
		box-shadow: inset 120px -260px 60px 110px rgba(0,0,0,0.2);
		-webkit-transform-origin: 100% 100%;
		-moz-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
		-webkit-transform: rotateX(90deg) rotateY(-4deg) rotateZ(8deg) translateY(130px);
		-moz-transform: rotateX(90deg) rotateY(-4deg) rotateZ(8deg) translateY(130px);
		transform: rotateX(90deg) rotateY(-4deg) rotateZ(8deg) translateY(130px);
		-webkit-transition: box-shadow 350ms;
		-moz-transition: box-shadow 350ms;
		transition: box-shadow 350ms;
	}
}

.box .front,
.box .info,
.box .more-info {
	position: absolute;
	width: 261px;
	height: 400px;
  background-color: #dbe5ff;
	text-align: center;
	font-family: "Aileron";
	letter-spacing: 1px;
	color: #503696;
}

.tbd-box {
	p {
		padding-top: 120px;
	}

	.info p {
		padding: 16px 8px;
	}
}

@media screen and (max-width: 60.75em){
	.scene {
		float: none;
		margin: 30px auto 60px;
	}
}

.box .front  {
	-webkit-transform: translateZ(130px);
	-moz-transform: translateZ(130px);
	transform: translateZ(130px);
	padding-top: 1px;
	text-align: center;

	h1 {
		padding: 14px;
	}
}

.box .info {
	-webkit-transform: rotateY(90deg) translateZ(130px);
	-moz-transform: rotateY(90deg) translateZ(130px);
	transform: rotateY(90deg) translateZ(130px);
	border: 1px solid #B8B5B5;
	font-size: 0.75em;
}

.box .more-info {
	-webkit-transform: rotateY(-90deg) translateZ(130px);
	-moz-transform: rotateY(-90deg) translateZ(130px);
	transform: rotateY(-90deg) translateZ(130px);
	border: 1px solid #B8B5B5;
	font-size: 0.75em;
}

.more-info-active {
	transform: rotateY(65deg) translateX(90px) translateZ(-40px);
}

.box::after {
	content: '';
	width: 260px;
	height: 400px;
	position: absolute;
	box-shadow: 0 30px 50px rgba(0,0,0,0.3);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-transform: rotateX(90deg) translateY(130px);
	-moz-transform: rotateX(90deg) translateY(130px);
	transform: rotateX(90deg) translateY(130px);
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.info header {
	color: #FFF;
	padding: 2px 4px;
	font-weight: bold;
	text-shadow: 0px 0.5px 0.5px rgba(0,0,0,0.4);
	margin: auto;
}

.info p {
	
  text-align: center;
}

.info button {
  margin: auto;
  width: 80%;
  display: block;
}

.info header h1 {
	margin: 0 0 2px;
	font-size: 1.4em;
	text-align: left;
}

.info p {
	padding: 8px 8px;
	margin: 0 auto;
	font-weight: 500;
	color: #503696;

	line-height: 1em;
	border-top: 4px solid #555;
	font-size: 1.1em;
	text-align: center;
  vertical-align: middle;

	&.rsvp-count {
		padding-bottom: 2px;
	}
}

.box .front,
.box .info,
.box .info header {
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.box .info header {
	max-height: 200px;
	overflow: auto;
}

.box .info header::-webkit-scrollbar {
	display: none;
}

.box .front {
	 box-shadow: inset 0px 0px 40px rgba(255,255,255,0);
}

.box:hover .front {

	 box-shadow: inset 300px 0px 40px rgba(255,255,255,0.4);
}

.box .info,
.box .info header {
	 box-shadow: inset -300px 0px 40px rgba(0,0,0,0.5);
}

.box:hover .info,
.box:hover .info header {
	 box-shadow: inset 0px 0px 40px rgba(0,0,0,0);
}

.info button {
	margin-top: 8px;
}
