.hidden {
 display: none;
}

.mobile-hidden {
  display: none;
}

.desktop-only {
  display: none;
}

.list__text {
  margin: 0 auto;
  display: block;
  width: 90%;
  text-align: center;
}

md-dialog {
  // z-index: 2001 !important;
  opacity: 1 !important;
}

.md-dialog-container {
  z-index: 2001 !important;
}

.md-autocomplete-suggestions-container {
  z-index: 2001 !important;
  background-color: rgba(255,255,255,0.6);
}

.pac-container {
  z-index: 2001;
  background-color: #848acd;
  &:after {
    visibility: hidden;
    height: 0;
  }

  .pac-item {
    color: #f0f0f0;
    line-height: 34px;

    span {
      font-size: 18px;
    }

    span:nth-child(2) {
      color: #f0f0f0;
    }

    &:hover {
      background-color: rgba(179, 183, 224, 0.8);
    }
  }

  .pac-item-selected, .pac-item-selected:hover {
    background-color: rgba(179, 183, 224, 0.8);

  }
}

md-toast {
  z-index: 2001 !important;
}

body {
  background-color: #8788c5;
}

md-toast.md-default-theme .md-toast-content {
  margin-right: 140px;
  margin-left: -16px;
}

.md-toast-content {
  span {
    font-size: 16px;
  }
}
