.hidden {
 display: none;
}

.mobile-hidden {
  display: none;
}

.desktop-only {
  display: none;
}

.list__text {
  margin: 0 auto;
  display: block;
  width: 90%;
  text-align: center;
}

md-dialog {
  opacity: 1 !important;
}

.md-dialog-container {
  z-index: 2001 !important;
}
