<% content_for :header do  %>
  <%= render 'layouts/header' %>
<% end %>


<button class="md-trigger" data-modal="modal-9">3D Flip (vertical)</button>
<div class="md-modal md-effect-9" id="modal-9">
	<div class="md-content">
		<h3>create an event</h3>
		<div>
      <section class="event-form">
      	<span class="input input--styled">
      		<input class="input__field input__field--styled" type="text" placeholder="What is your event called?" />
      		<label class="input__label input__label--styled">
      			<span class="input__label-content input__label-content--styled">Event Title</span>
      		</label>
      	</span>
        <span class="input input--styled">
          <textarea class="input__field input__field--styled" name="description" ng-model="message.description" rows="8" cols="40" placeholder="Tell us more about your event...">
            Describe your event
          </textarea>
          <label class="input__label input__label--styled textarea" id="description">
            <span class="input__label-content input__label-content--styled">Description</span>
          </label>
        </span>

        <span class="input input--styled">
          <input id="autocomplete" class="input__field input__field--styled md-input" placeholder="Where is your event is taking place?" type="text" />
          <label class="input__label input__label--styled">
            <span class="input__label-content input__label-content--styled">
              Location
            </span>
          </label>
        </span>

        <span class="input input--styled">
          <input mdc-datetime-picker="" class="input__field input__field--styled md-input" ng-model="date" short-time="true" date="true" time="true" type="text"
          placeholder="Start Date" max-date="dateTimeEnd" id="input_0" format="YYYY-MM-DD HH:mm" />
          <label class="input__label input__label--styled">
            <span class="input__label-content input__label-content--styled">
              Start Date/Time
            </span>
          </label>
        </span>
        <span class="input input--styled">
          <input mdc-datetime-picker="" class="input__field input__field--styled md-input" ng-model="date" short-time="true" date="true" time="true" type="text"
          placeholder="End Date" min-date="dateTimeStart"="dateTimeEnd" id="input_1" format="YYYY-MM-DD HH:mm" />
          <label class="input__label input__label--styled">
            <span class="input__label-content input__label-content--styled">
              End Date/Time
            </span>
          </label>
        </span>
      </section>
			<button class="md-close">Close me!</button>
		</div>
	</div>
</div>
<div class="md-overlay"></div>

<div class="container-fluid">
  <div class="range layout-column flex-gt-md-30" >

  </div>
  <md-button id="event-button" name="Create an Event" ng-show="{{user_id}}" class="md-primary md-raised" ng-click="showNewEventModal($event)" >
    Create an Event
  </md-button>
  <div class="panel panel-success">
    <div class="panel-heading" >

      <div ng-show="newEventReceived" class="events" ng-repeat="event in newEvents" style="border: 1px solid #fff;">
        <h1 ng-if="$first">NEWLY CREATED EVENTS</h1>
        <h1>{{event.title}}</h1>
        <p><span ng-hide="event.start_date == event.end_date">From: {{event.start_date | date:'mediumDate'}} to </span>{{event.end_date | date:'mediumDate'}}</p>
        <p>{{event.description}}</p>
      </div>

      <div class="events" ng-repeat="event in events | filter: filterForTBD" style="border: 1px solid #fff;">
        <h1>{{event.title}}</h1>
        <p><span ng-hide="event.start_date == event.end_date">From: {{event.start_date | date:'mediumDate'}} to </span>{{event.end_date | date:'mediumDate'}}</p>
        <p ng-show="event.start_date == null || event.end_date == null" >TBD</p>
        <p>{{event.description}}</p>
        <p ng-show="event.guests.length > 0">There are {{event.guests.length}} people RSVP'd for this event.</p>
        <span ng-show={{user_id}}><md-button class="md-primary md-raised" ng-hide="checkIfRSVPd(event.guests)" ng-click="rsvp(event.id)">
          RSVP to this Event
        </md-button></span>
        <md-button ng-show="checkIfRSVPd(event.guests)" class="md-primary md-raised" ng-click="dersvp(event.id)">
          Cancel Your RSVP
        </md-button>
        <md-button ng-show="user_id == event.owner_id" id="event-edit-button" name="Edit this Event" class="md-primary md-raised" ng-click="showEditEventModal($event, event)" >
          Edit this Event
        </md-button>
      </div>

      <div class="events" ng-repeat="event in events | filter: filterForNotTBD | orderBy:predicate:reverse" style="border: 1px solid #fff;">
        <h1>{{event.title}}</h1>
        <p><span ng-hide="event.start_date == event.end_date">From: {{event.start_date | date:'mediumDate'}} to </span>{{event.end_date | date:'mediumDate'}}</p>
        <p ng-show="event.start_date == null || event.end_date == null" >TBD</p>
        <p>{{event.description}}</p>
        <p ng-show="event.guests.length > 0">There are {{event.guests.length}} people RSVP'd for this event.</p>
        <span ng-show={{user_id}}><md-button class="md-primary md-raised" ng-hide="checkIfRSVPd(event.guests)" ng-click="rsvp(event.id)">
          RSVP to this Event
        </md-button></span>
        <md-button class="md-primary md-raised" ng-show="checkIfRSVPd(event.guests)" ng-click="dersvp(event.id)">
          Cancel Your RSVP
        </md-button>
        <md-button ng-show="user_id == event.owner_id" id="event-edit-button" name="Edit this Event" class="md-primary md-raised" ng-click="showEditEventModal($event, event)" >
          Edit this Event
        </md-button>
      </div>
    </div>
  </div>
</div>
