<% content_for :header do  %>
  <%= render 'layouts/header' %>
<% end %>

<div id="test">

</div>
<div class="container-fluid" ng-app="splish" ng-controller="EventController">
  <div class="range layout-column flex-gt-md-30" >
    <md-input-container class="md-input-has-placeholder" >
      <label>Start Date/Time</label>
      <input mdc-datetime-picker="" ng-model="date" short-time="true" date="true" time="true" type="text"
      placeholder="Date" max-date="dateTimeEnd" class=" md-input"
      id="input_0">
    </md-input-container>
    <md-input-container class="md-input-has-placeholder">
      <label>End Date/Time</label>
      <input mdc-datetime-picker="" ng-model="date" short-time="true" date="true" time="true" type="text"
      placeholder="Date" min-date="dateTimeStart"="dateTimeEnd" class=" md-input" id="input_1">
    </md-input-container>
  </div>
  <md-button id="event-button" name="Create an Event" ng-show="{{user_id}}" class="md-primary md-raised" ng-click="showNewEventModal($event)" >
    Create an Event
  </md-button>
  <div class="panel panel-success">
    <div class="panel-heading" >

      <div ng-show="newEventReceived" class="events" ng-repeat="event in newEvents" style="border: 1px solid #fff;">
        <h1 ng-if="$first">NEWLY CREATED EVENTS</h1>
        <h1>{{event.title}}</h1>
        <p><span ng-hide="event.start_date == event.end_date">From: {{event.start_date | date:'mediumDate'}} to </span>{{event.end_date | date:'mediumDate'}}</p>
        <p>{{event.description}}</p>
      </div>

      <div class="events" ng-repeat="event in events | filter: filterForTBD" style="border: 1px solid #fff;">
        <h1>{{event.title}}</h1>
        <p><span ng-hide="event.start_date == event.end_date">From: {{event.start_date | date:'mediumDate'}} to </span>{{event.end_date | date:'mediumDate'}}</p>
        <p ng-show="event.start_date == null || event.end_date == null" >TBD</p>
        <p>{{event.description}}</p>
        <p ng-show="event.guests.length > 0">There are {{event.guests.length}} people RSVP'd for this event.</p>
        <md-button class="md-primary md-raised" ng-show="{{user_id}}" ng-click="rsvp(event.id)">
          RSVP to this Event
        </md-button>
        <md-button ng-show="user_id == event.owner_id" id="event-edit-button" name="Edit this Event" class="md-primary md-raised" ng-click="showEditEventModal($event, event)" >
          Edit this Event
        </md-button>
      </div>

      <div class="events" ng-repeat="event in events | filter: filterForNotTBD | orderBy:predicate:reverse" style="border: 1px solid #fff;">
        <h1>{{event.title}}</h1>
        <p><span ng-hide="event.start_date == event.end_date">From: {{event.start_date | date:'mediumDate'}} to </span>{{event.end_date | date:'mediumDate'}}</p>
        <p ng-show="event.start_date == null || event.end_date == null" >TBD</p>
        <p>{{event.description}}</p>
        <p ng-show="event.guests.length > 0">There are {{event.guests.length}} people RSVP'd for this event.</p>
        <md-button class="md-primary md-raised" ng-show="{{user_id}}" ng-click="rsvp(event.id)">
          RSVP to this Event
        </md-button>
        <md-button ng-show="user_id == event.owner_id" id="event-edit-button" name="Edit this Event" class="md-primary md-raised" ng-click="showEditEventModal($event, event)" >
          Edit this Event
        </md-button>
      </div>
    </div>
  </div>
</div>
