<% content_for :header do  %>
  <%= render 'layouts/header' %>
<% end %>
<br><br>
<div class="container-fluid">
  <md-button ng-show="{{user_id}}" class="md-trigger md-primary md-raised" data-modal="modal-9">Create New Event</md-button>
  <md-button ng-show="{{user_id}}" ng-click="filter = 'tbd'" class="md-primary md-raised">See TBD Events</md-button>
  <md-button ng-show="{{user_id}}" ng-click="filter = 'upcoming'" class="md-primary md-raised">See Upcoming Events</md-button>
  <md-button ng-show="{{user_id}}" ng-click="filter = 'past'" class="md-primary md-raised">See Past Events</md-button>
  <md-button ng-show="{{user_id}}" ng-click="filter = 'all'" class=" md-primary md-raised">See All Events</md-button>
  <md-button ng-show="{{user_id}}" ng-click="filter = 'created'" class="md-primary md-raised">See Events You Created</md-button>
  <md-button ng-show="{{user_id}}" ng-click="filter = 'rsvpd'" class=" md-primary md-raised">See RSVP'd Events</md-button>
  <md-button ng-show="{{user_id}}" ng-click="toggleSort(); $event.stopPropagation();" class=" md-primary md-raised">{{sortState}}</md-button>
  <div class="panel panel-success">
    <div class="panel-heading" >
      <div ng-show="newEventReceived" class="events" ng-repeat="event in newEvents" style="border: 1px solid #fff;">
        <h1 ng-if="$first">NEWLY CREATED EVENTS</h1>
        <h1>{{event.title}}</h1>
        <p><span ng-hide="event.start_date == event.end_date">From: {{event.start_date | date:'mediumDate'}} to </span>{{event.end_date | date:'mediumDate'}}</p>
        <p>{{event.description}}</p>
      </div>
    </div>
  </div>
</div>
<br><br>

<div class="wrapper-wrapper">
  <div class="tbd-wrapper">
    <div ng-show="sortState === 'Sort by Event Title'" class="events" id="TBDevents" ng-repeat="event in events | filter: setFilterTBD" >
    	<ul class="">
    		<li class="scene">
    			<div class="box" onclick="console.log('test')">
    				<div class="poster">
              <h1>{{event.title}}</h1>
            </div>
    				<div class="info">
    					<header>
                <p>{{event.description}}</p>
    					</header>
              <p>
                The date for this event is TBD.
              </p>
              <p ng-show="notTBDandFutureEvent(event)">{{event.guests.length}} people have RSVP'd to this event.</p>
              <span ng-show={{user_id}}><md-button class="md-primary md-raised" ng-hide="checkIfRSVPd(event.guests) || notTBDandPastEvent(event)" ng-click="rsvp($event, event.id)">
                RSVP to this Event
              </md-button></span>
              <md-button class="md-primary md-raised" ng-show="checkIfRSVPd(event.guests) && !notTBDandPastEvent(event)" ng-click="dersvp($event, event.id)">
                Cancel Your RSVP
              </md-button>
              <md-button ng-show="user_id == event.owner_id" ng-click="fillEditField(event)" class="md-primary md-raised" data-modal="modal-9">Edit Event</md-button>
    				</div>
    			</div>
    		</li>
    	</ul>
    </div>
  </div>

  <div class="wrapper events" ng-repeat="event in events | filter: setFilter | orderBy:predicate:reverse" ng-if="!isTBD()" >
  	<ul class="">
  		<li class="scene">
  			<div class="box" onclick="return true">
  				<div class="poster">
            <h1>{{event.title}}</h1>
            <p ng-hide="event.start_date == null || event.end_date == null">From: {{event.start_date | date:'MMM d, yyyy \'at\' h:mm a'}}</p>
            <p ng-hide="event.start_date == null || event.end_date == null">To: {{event.end_date | date:'MMM d, yyyy \'at\' h:mm a'}}</p>
            <p ng-show="event.start_date == null || event.end_date == null" ng-if="sortState === 'Sort by Event Title'">TBD</p>
          </div>
  				<div class="info">
  					<header>
              <p>{{event.description}}</p>
  					</header>
            <p ng-hide="event.start_date == null || event.end_date == null">From: {{event.start_date | date:'MMM d, yyyy \'at\' h:mm a'}}</p>
            <p ng-hide="event.start_date == null || event.end_date == null">To: {{event.end_date | date:'MMM d, yyyy \'at\' h:mm a'}}</p>
            <p ng-show="event.start_date == null || event.end_date == null" ng-if="sortState === 'Sort by Event Title'">TBD</p>
            <p ng-show="notTBDandFutureEvent(event)">{{event.guests.length}} people have RSVP'd to this event.</p>
            <p ng-show="notTBDandPastEvent(event)">{{event.guests.length}} people attended this event.
              <br><br>
              This event ended {{daysSinceEnded(event.end_date)}} days ago.
              <br>
              <span ng-show="checkIfRSVPd(event.guests) && notTBDandPastEvent(event)">You were there!</span>
            </p>
            <span ng-show={{user_id}}><md-button class="md-primary md-raised" ng-hide="checkIfRSVPd(event.guests) || notTBDandPastEvent(event)" ng-click="rsvp($event, event.id)">
              RSVP to this Event
            </md-button></span>
            <md-button class="md-primary md-raised" ng-show="checkIfRSVPd(event.guests) && !notTBDandPastEvent(event)" ng-click="dersvp($event, event.id)">
              Cancel Your RSVP
            </md-button>
            <md-button ng-show="user_id == event.owner_id" ng-click="fillEditField(event)" class="md-primary md-raised" data-modal="modal-9">Edit Event</md-button>
  				</div>
  			</div>
  		</li>
  	</ul>
  </div>
  <br><br><br>

  <div class="md-modal md-effect-9" id="modal-9">
  	<div class="md-content">
  		<h3 class='modal-header'>create an event</h3>
  		<div>
        <section class="event-form">
          <form id="modal-form" name="messageForm" ng-submit="submitForm()" class="ang-form">
        	<span class="input input--styled">
        		<input ng-model="message.title" class="input__field input__field--styled" type="text" placeholder="What is your event called?" />
        		<label class="input__label input__label--styled">
        			<span class="input__label-content input__label-content--styled">Event Title</span>
        		</label>
        	</span>
          <span class="input input--styled" ng-model="message.description">
            <textarea class="input__field input__field--styled" name="description" ng-model="message.description" rows="8" cols="40" placeholder="Tell us more about your event...">
              Describe your event
            </textarea>
            <label class="input__label input__label--styled textarea" id="description">
              <span class="input__label-content input__label-content--styled">Description</span>
            </label>
          </span>

          <span class="input input--styled">
            <input id="autocompleteEdit" ng-model="message.location" class="input__field input__field--styled md-input" placeholder="Where is your event is taking place?" type="text" />
            <label class="input__label input__label--styled">
              <span class="input__label-content input__label-content--styled">
                Location
              </span>
            </label>
          </span>

          <span class="input input--styled">
            <input mdc-datetime-picker="" class="input__field input__field--styled md-input" ng-model="message.start_date" short-time="true" date="true" time="true" type="text"
            placeholder="Start Date" max-date="dateTimeEnd" id="input_0" format="YYYY-MM-DD hh:mm a" />
            <label class="input__label input__label--styled">
              <span class="input__label-content input__label-content--styled">
                Start Date/Time
              </span>
            </label>
          </span>
          <span class="input input--styled">
            <input mdc-datetime-picker="" short-time="true" class="input__field input__field--styled md-input" ng-model="message.end_date"  date="true" time="true" type="text"
            placeholder="End Date" min-date="dateTimeStart"="dateTimeEnd" id="input_1" format="YYYY-MM-DD hh:mm a" />
            <label class="input__label input__label--styled">
              <span class="input__label-content input__label-content--styled">
                End Date/Time
              </span>
            </label>
          </span>
          <md-button type="submit" class="md-close md-primary md-raised">Submit</md-button>
        </form>
        </section>
  		</div>
  	</div>
  </div>
</div>

<div class="md-modal md-effect-8" id="angular-triggered-modal">
	<div class="md-content">
		<h3 class='modal-header'>edit your event</h3>
		<div>
      <section class="event-form">
        <form id="modal-form" name="messageForm" ng-submit="submitEditForm()" class="edit-modal-form">
      	<span class="input input--styled">
      		<input ng-model="message.title" class="input__field input__field--styled" type="text" placeholder="What is your event called?" />
      		<label class="input__label input__label--styled">
      			<span class="input__label-content input__label-content--styled">Event Title</span>
      		</label>
      	</span>
        <span class="input input--styled" ng-model="message.description">
          <textarea class="input__field input__field--styled" name="description" ng-model="message.description" rows="8" cols="40" placeholder="Tell us more about your event...">
            Describe your event
          </textarea>
          <label class="input__label input__label--styled textarea" id="description">
            <span class="input__label-content input__label-content--styled">Description</span>
          </label>
        </span>

        <span class="input input--styled">
          <input id="autocomplete" ng-model="message.location" class="input__field input__field--styled md-input" placeholder="Where is your event is taking place?" type="text" />
          <label class="input__label input__label--styled">
            <span class="input__label-content input__label-content--styled">
              Location
            </span>
          </label>
        </span>

        <span class="input input--styled">
          <input mdc-datetime-picker="" class="input__field input__field--styled md-input" ng-model="message.start_date" short-time="true" date="true" time="true" type="text"
          placeholder="Start Date" max-date="dateTimeEnd" id="input_0" format="YYYY-MM-DD hh:mm a" />
          <label class="input__label input__label--styled">
            <span class="input__label-content input__label-content--styled">
              Start Date/Time
            </span>
          </label>
        </span>
        <span class="input input--styled">
          <input mdc-datetime-picker="" short-time="true" class="input__field input__field--styled md-input" ng-model="message.end_date"  date="true" time="true" type="text"
          placeholder="End Date" min-date="dateTimeStart"="dateTimeEnd" id="input_1" format="YYYY-MM-DD hh:mm a" />
          <label class="input__label input__label--styled">
            <span class="input__label-content input__label-content--styled">
              End Date/Time
            </span>
          </label>
        </span>
        <md-button type="submit" class="md-close md-primary md-raised">Submit</md-button>
      </form>
      </section>
		</div>
	</div>
</div>

<div class="md-overlay"></div>
